
  <footer class="container">
  <hr />

    <section class="social-link">
      <div>
        <img src="/assets/svg/linkedin-icon.svg" alt="Logo Linkedin" />
        <a href="https://www.linkedin.com/in/florian-fougeray/" target="_blank">Mon profil Linkedin</a>
      </div>
      <div>
        <img src="/assets/svg/malt-icon.svg" alt="Logo Malt" />
        <a href="https://www.malt.fr/profile/florianfougeray" target="_blank">Mon profil Malt</a>
      </div>
    </section>

    <p class="lato-light">Made by <span class="lato-bold">Fougeray Florian</span> with 💖</p>
  </footer>

  <script type="module" src="/js/manager.script.js"></script>
  </body>
</html>