<footer>
  <hr>

  <div class="grid">
    <div>
      <p><strong>All Will Be Well</strong></p>
      <p>Des outils simples pour prendre du recul, mieux respirer et voir plus clair.</p>
    </div>

    <div>
      <p><strong>Navigation</strong></p>
      <p><a href="/">Accueil</a></p>
      <p><a href="/about">À propos</a></p>
      <p><a href="mailto:fougeray.florian@gmail.com">Contact</a></p>
    </div>

    <div>
      <p><strong>Créateur</strong></p>
      <p>Projet imaginé et développé par Florian Fougeray, développeur web freelance.</p>
      <p>
        <div>
          <img src="/assets/svg/linkedin-icon.svg" alt="Logo Linkedin" />
          <a href="https://www.linkedin.com/in/florian-fougeray/" target="_blank" rel="noopener noreferrer">LinkedIn</a>

        </div>
        <div>
          <img src="/assets/svg/malt-icon.svg" alt="Logo Linkedin" />
          <a href="https://www.malt.fr/profile/florianfougeray" target="_blank" rel="noopener noreferrer">Malt</a>
        </div>
      </p>
    </div>
  </div>


</footer>
</body>
</html>