<!DOCTYPE html>
<html lang="fr" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/assets/svg/green-heart.svg" />

    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Pacifico&display=swap"
      rel="stylesheet"
    />

    <!-- CSS -->
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.cyan.min.css" />
    <title>All Will Be Well</title>
  </head>
  <body class="container">
    <% if (typeof navbar === "undefined" || navbar !== false) { %>
    <nav>
      <ul>
        <li>
          <h1 class="pacifico"><a class="link-undecorate" href="/">All Will Be Well</a></h1>
        </li>
      </ul>
      <ul>
        <li><a href="/">Message</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </nav>
    <% } %>
