<%- include('partials/head.ejs'); -%>

<div>
  <section class="title">
    <article class="tagline-bg shadow lato-bold">
      <p class="tagline lato-bold">Raconte où tu en es aujourd’hui,</p>
    </article>
    <p class="subline lato-thin">ton futur toi verra le <span class="lato-regular">chemin parcouru.</span></p>
  </section>

  <form action="#" method="post">
    <article>
      <input type="email" name="email" placeholder="exemple@domaine.com" required />
      <input type="text" name="delay" placeholder="Dans combien de temps veux-tu relire ce message ?" />
      <textarea name="message" rows="6" placeholder="Tout ira bien, sois tolérant avec toi."></textarea>
      <button type="submit">Envoyer !</button>
    </article>
  </form>
</div>

<%- include('partials/footer.ejs'); -%>
