:root,
:host {
  --pico-font-family: "Plus Jakarta Sans", sans-serif !important;
}

/* Weight */
.extra-light {
  font-weight: 200;
  font-style: normal;
}

.light {
  font-weight: 300;
  font-style: normal;
}

.regular {
  font-weight: 400;
  font-style: normal;
}

.medium {
  font-weight: 500;
  font-style: normal;
}

.semi-bold {
  font-weight: 600;
  font-style: normal;
}

.bold {
  font-weight: 700;
  font-style: normal;
}

.extra-bold {
  font-weight: 800;
  font-style: normal;
}
