@import url("./fonts.css");

/* ======================================================== */
/* Generic */
/* ======================================================== */
:root {
  --primaryColor: #046a6a;

  /* marges */
  --m-margin: 0.8em;
  --l-margin: 1.5em;
  --xl-margin: 2.2em;
  --xxl-margin: 5em;
  --big-margin: 15em;
}
.link-undecorate {
  text-decoration: none;
}

.error-message {
  color: #d93526;
}

.success-message {
  color: #00895a;
}

.no-marge {
  margin: 0;
}

h1,
h2,
h3,
h4,
p,
span {
  color: var(--primaryColor) !important;
}

body {
  position: relative;
  z-index: 0;
}

/* ======================================================== */
/* Home page */
/* ======================================================== */
/* nav {
  margin-bottom: 10rem;
} */

.home__hero,
.home__tools {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: var(--big-margin);
}

.home__title {
  display: flex;
  flex-direction: column;
  border: solid 2px var(--primaryColor);
  border-radius: 15px;
  padding: 0.5em;
  max-width: 1000px;
  font-size: 2.5rem;
}

/* Hero */
.home__hero p {
  color: var(--primaryColor);
  text-align: center;
  margin-top: var(--l-margin);
  margin-bottom: var(--m-margin);
  font-size: 1.25rem;
}

.home__hero a {
  text-align: center;
  font-size: 1.2rem;
}

/* Cards */

.home__tools__title {
  display: flex;
  flex-direction: column;
  font-size: 3.5rem;
}

.home__tools__separator {
  width: 100%;
  height: 1px;
  background: var(--primaryColor);
}

.home__tools__card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 15px;
  margin: var(--xxl-margin) 0;
  padding: 2em;
  box-shadow: 0px 0px 20px rgba(4, 120, 120, 0.1);
  max-width: 870px;
  text-align: left;
}

.home__tools__separator,
.home__tools__card__content {
  margin-bottom: var(--l-margin);
}

.home__tools__card__link {
  /* display: block; */
  margin-top: var(--l-margin);
}

.home__tools__card__content {
  letter-spacing: 1px;
}

/* ======================================================== */
/* Message page */
/* ======================================================== */
.textarea-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
}

.textarea-wrapper textarea {
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
}

#fake-placeholder {
  position: absolute;
  top: 1rem;
  left: 1rem;
  color: #646b79;
  pointer-events: none;
  transition: opacity 0.5s ease;
  opacity: 1;
}

#fake-placeholder.out {
  opacity: 0;
}

.counter {
  justify-items: center;
}

.recaptcha-wrapper {
  transform: scale(0.9); /* ajuste la taille */
  transform-origin: 0 0; /* point d’ancrage */
}

.g-recaptcha {
  margin: 0 auto; /* centre si nécessaire */
}

/* ======================================================== */
/* 404 page */
/* ======================================================== */
.error404 {
  min-height: 100vh; /* pleine hauteur */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

/* ======================================================== */
/* Footer */
/* ======================================================== */

footer {
  text-align: center;
}

footer img {
  width: 1.5rem;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  flex-wrap: wrap;
  margin-block: 1.25rem 2rem;
}

/* ======================================================== */
/* FX & Breakpoint */
/* ======================================================== */

.fade {
  transition: opacity 0.5s ease;
  opacity: 1;
}

.fade.out {
  opacity: 0;
}

/* ============================ */
/* ============================ */
/* ============================ */
/* ============================ */

#burger-button,
#close-menu-button {
  background: none;
  border: none;
  color: #047878;
  font-size: 1.4rem;
  cursor: pointer;
  padding: 0;
}

#close-menu-button {
  display: block;
  margin-left: auto;
}

#side-menu-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease;
}

#side-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  height: 100vh;
  padding: 2rem;
  background: white;
  transform: translateX(100%);
  transition: transform 0.5s ease;
  visibility: hidden;
  z-index: 2;
}

#side-menu-overlay.open {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

#side-menu.open {
  transform: translateX(0);
  visibility: visible;
}
