@import url("./fonts.css");

/* ======================================================== */
/* Generic */
/* ======================================================== */
.link-undecorate {
  text-decoration: none;
}

.error-message {
  color: #d93526;
}

.success-message {
  color: #00895a;
}

.no-marge {
  margin: 0;
}
/* ======================================================== */
/* Home page */
/* ======================================================== */
nav {
  margin-bottom: 5rem;
}

.title {
  text-align: center;
}

.tagline-bg {
  display: inline-block;
  border-radius: 6px;
  padding: 0 0.5rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.tagline {
  font-size: 2.5rem;
  margin-bottom: 0;
  background-image: linear-gradient(90deg, #2a7b9b 0%, #57c785 50%, #eddd53 100%);
  color: transparent;
  background-clip: text;
}

.subline {
  color: var(--color-white);
  font-size: 2.5rem;
  margin-bottom: 3.5rem;
}

.textarea-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
}

.textarea-wrapper textarea {
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
}

#fake-placeholder {
  position: absolute;
  top: 1rem;
  left: 1rem;
  color: #646b79;
  pointer-events: none;
  transition: opacity 0.5s ease;
  opacity: 1;
}

#fake-placeholder.out {
  opacity: 0;
}

.counter {
  justify-items: center;
}

.recaptcha-wrapper {
  transform: scale(0.9); /* ajuste la taille */
  transform-origin: 0 0; /* point d’ancrage */
}

.g-recaptcha {
  margin: 0 auto; /* centre si nécessaire */
}

/* ======================================================== */
/* 404 page */
/* ======================================================== */
.error404 {
  min-height: 100vh; /* pleine hauteur */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

/* ======================================================== */
/* Footer */
/* ======================================================== */

footer {
  text-align: center;
}

footer img {
  width: 1.5rem;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  flex-wrap: wrap;
  margin-block: 1.25rem 2rem;
}

/* ======================================================== */
/* FX & Breakpoint */
/* ======================================================== */

.fade {
  transition: opacity 0.5s ease;
  opacity: 1;
}

.fade.out {
  opacity: 0;
}

/* ============================ */
/* ============================ */
/* ============================ */
/* ============================ */

#burger-button,
#close-menu-button {
  background: none;
  border: none;
  color: #047878;
  font-size: 1.4rem;
  cursor: pointer;
  padding: 0;
}

#close-menu-button {
  display: block;
  margin-left: auto;
}

#side-menu-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease;
}

#side-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  height: 100vh;
  padding: 2rem;
  background: white;
  transform: translateX(100%);
  transition: transform 0.5s ease;
  visibility: hidden;
  z-index: 2;
}

#side-menu-overlay.open {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

#side-menu.open {
  transform: translateX(0);
  visibility: visible;
}
